<a href="https://colab.research.google.com/github/NicaiseM/solar_model/blob/master/solar_energy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Энергосберегающие технологии и альтернативные источники энергии

## Расчет потребляемой мощности и эффективности солнечных батарей

### Загрузка программы обработки и исходных данных

In [ ]:
!pip install git+https://github.com/building-energy/epw.git@master
from google.colab import files

!git clone https://github.com/NicaiseM/solar_model
%cd ./solar_model

electrical_power_file = r'./raw_data/my_home_electricity.csv'
heat_power_file = r'./raw_data/my_home_heat.csv'
weather_file = r'./raw_data/RUS_Arkhangelsk.225500_IWEC.epw'

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting git+https://github.com/building-energy/epw.git@master
  Cloning https://github.com/building-energy/epw.git (to revision master) to /tmp/pip-req-build-xz1f_rhx
  Running command git clone -q https://github.com/building-energy/epw.git /tmp/pip-req-build-xz1f_rhx
Building wheels for collected packages: epw
  Building wheel for epw (setup.py) ... done
  Created wheel for epw: filename=epw-0.0.0-py3-none-any.whl size=3353 sha256=6cb744152fb6bb31b10eedc7ec7841a7fd2f0b281cf10cca966a633a4e91f2a8
  Stored in directory: /tmp/pip-ephem-wheel-cache-91e8cjvp/wheels/4a/6d/bc/1eb5dd9aec49484d76a3ecbb67cd91acb9161848f4720098ba
Successfully built epw
Installing collected packages: epw
Successfully installed epw-0.0.0
Cloning into 'solar_model'...
remote: Enumerating objects: 37, done.
remote: Counting objects: 100% (37/37), done.
remote: Compressing objects: 100% (29/29), done.
remote: Total 37 (delta 9), reused 34 (delta 6), pack-reused 0
Unpacking objects: 100% (37/37), done.
/content/solar_model

### Построение графика потребления электроэнергии

In [ ]:
import main
model = main.model.Model()
model.processing(electrical_power_file, 'electrical_power')
model.processing(heat_power_file, 'heat_power')

### Вывод таблиц энергопотребления

In [ ]:
print('Потребление электрической энергии\n' + 25*'-')
print('Исходная таблица')
display(model.power[0][0])
print('Таблица по категориям')
display(model.power[0][1])
print('Таблица по категориям по месяцам')
display(model.power[0][2])
print(25*'=')
print('Потребление тепловой энергии\n' + 25*'-')
print('Исходная таблица')
display(model.power[1][0])
print('Таблица по категориям')
display(model.power[1][1])
print('Таблица по категориям по месяцам')
display(model.power[1][2])

Потребление электрической энергии
-------------------------
Исходная таблица

,Datetime,1 LVL TZ: Zone Lights Electricity Rate (W) - Hourly,2 LVL TZ: Zone Lights Electricity Rate (W) - Hourly,1 LVL TZ: Zone Electric Equipment Electricity Rate (W) - Hourly,2 LVL TZ: Zone Electric Equipment Electricity Rate (W) - Hourly,CONST SPD FAN: Fan Electricity Rate (W) - Hourly,CONST SPD FAN 1: Fan Electricity Rate (W) - Hourly,FAN CONSTANT VOLUME 1: Fan Electricity Rate (W) - Hourly,1 SPD DX CLG COIL: Cooling Coil Electricity Rate (W) - Hourly,1 SPD DX CLG COIL 1: Cooling Coil Electricity Rate (W) - Hourly,COIL COOLING DX SINGLE SPEED 1: Cooling Coil Electricity Rate (W) - Hourly,PUMP CONSTANT SPEED 1: Pump Electricity Rate (W) - Hourly,Total
0,1900-01-01 00:00:00,75.0,37.5,8.76606,0.0,204.852681,0,97.142857,0.0,0,0.0,32.242482,455.504079
1,1900-01-01 01:00:00,0.0,37.5,0.0,0.0,204.852681,0,97.142857,0.0,0,0.0,0.0,339.495538
2,1900-01-01 02:00:00,0.0,37.5,0.0,0.0,204.852681,0,97.142857,0.0,0,0.0,0.0,339.495538
3,1900-01-01 03:00:00,0.0,37.5,0.0,0.0,204.852681,0,97.142857,0.0,0,0.0,0.0,339.495538
4,1900-01-01 04:00:00,0.0,37.5,0.0,0.0,204.852681,0,97.142857,0.0,0,0.0,0.0,339.495538
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8923,1900-12-31 20:00:00,41.52616,380.090818,5000.0,51.9077,204.852681,0,0.0,135.522055,0,0.0,0.0,5813.899414
8924,1900-12-31 21:00:00,0.0,37.5,8.76606,0.0,204.852681,0,97.142857,0.0,0,0.0,0.0,348.261597
8925,1900-12-31 22:00:00,0.0,37.5,8.76606,0.0,204.852681,0,97.142857,0.0,0,0.0,0.0,348.261597
8926,1900-12-31 23:00:00,900.0,37.5,8.76606,0.0,204.852681,0,97.142857,0.0,0,0.0,32.242482,1280.504079
8927,Total,1560873.12995,2428694.572088,8977708.449755,322935.162438,1828719.880076,0.0,554782.857143,2521369.927344,0.0,23866.775454,150397.921388,18369348.675636

Таблица по категориям

,Datetime,Ligths,Equipment,Fan,Cooling,Pump,Total
0,1900-01-01 00:00:00,1.125000e+02,8.766060e+00,3.019955e+02,0.000000e+00,0.000000,32.242482
1,1900-01-01 01:00:00,3.750000e+01,0.000000e+00,3.019955e+02,0.000000e+00,0.000000,0.000000
2,1900-01-01 02:00:00,3.750000e+01,0.000000e+00,3.019955e+02,0.000000e+00,0.000000,0.000000
3,1900-01-01 03:00:00,3.750000e+01,0.000000e+00,3.019955e+02,0.000000e+00,0.000000,0.000000
4,1900-01-01 04:00:00,3.750000e+01,0.000000e+00,3.019955e+02,0.000000e+00,0.000000,0.000000
...,...,...,...,...,...,...,...
8923,1900-12-31 20:00:00,4.216170e+02,5.051908e+03,2.048527e+02,1.355221e+02,0.000000,0.000000
8924,1900-12-31 21:00:00,3.750000e+01,8.766060e+00,3.019955e+02,0.000000e+00,0.000000,0.000000
8925,1900-12-31 22:00:00,3.750000e+01,8.766060e+00,3.019955e+02,0.000000e+00,0.000000,0.000000
8926,1900-12-31 23:00:00,9.375000e+02,8.766060e+00,3.019955e+02,0.000000e+00,0.000000,32.242482
8927,Total,3.989568e+06,9.300644e+06,2.407370e+06,2.521370e+06,23866.775454,150397.921388

Таблица по категориям по месяцам

,Datetime,Ligths,Equipment,Fan,Cooling,Pump,Total
0,1900-01-31 00:00:00,352314.497213,799746.872517,216119.787402,37585.601613,0.0,13687.573362
1,1900-02-28 00:00:00,301708.074779,705799.132705,179626.715676,29846.810682,0.0,11321.723666
2,1900-03-31 00:00:00,343284.978518,819608.323281,199902.684573,77667.823027,0.0,12428.42767
3,1900-04-30 00:00:00,318576.882257,737115.045976,191791.072918,111462.725031,0.0,12094.764895
4,1900-05-31 00:00:00,335279.382257,781203.812035,199038.965825,285776.8455,0.0,12530.904173
5,1900-06-30 00:00:00,326694.978518,775528.323281,203839.275521,490935.434389,10882.488317,12179.345967
6,1900-07-31 00:00:00,360748.900952,815404.829152,233142.41211,585537.738796,10940.446086,14097.225612
7,1900-08-31 00:00:00,343472.478518,814625.8554,202248.521161,466284.933506,2043.841051,12682.234859
8,1900-09-30 00:00:00,318501.882257,742106.279916,191791.072918,216649.87324,0.0,12076.344884
9,1900-10-31 00:00:00,327011.285996,752773.002611,197873.251539,126799.953685,0.0,12635.385168
10,1900-11-30 00:00:00,335038.074779,798967.898765,194122.50149,54552.355937,0.0,12150.310673
11,1900-12-31 00:00:00,326936.285996,757764.236552,197873.251539,38269.83194,0.0,12513.68046
12,Total,3989567.702038,9300643.612192,2407369.512673,2521369.927344,23866.775454,150397.921388

=========================
Потребление тепловой энергии
-------------------------
Исходная таблица

,Datetime,600 GAL WATER HEATER - 600 KBTU/HR: Water Heater Heating Rate (W) - Hourly,COIL HEATING GAS 1: Heating Coil NaturalGas Rate (W) - Hourly,1 SPD DX CLG COIL: Cooling Coil Total Cooling Rate (W) - Hourly,1 SPD DX CLG COIL 1: Cooling Coil Total Cooling Rate (W) - Hourly,COIL COOLING DX SINGLE SPEED 1: Cooling Coil Total Cooling Rate (W) - Hourly,Total
0,1900-01-01 00:00:00,0.0,5954.289024,0.0,0,0.0,5954.289024
1,1900-01-01 01:00:00,0.0,5719.423837,0.0,0,0.0,5719.423837
2,1900-01-01 02:00:00,0.0,5974.962689,0.0,0,0.0,5974.962689
3,1900-01-01 03:00:00,0.0,5998.918472,0.0,0,0.0,5998.918472
4,1900-01-01 04:00:00,0.0,6027.906016,0.0,0,0.0,6027.906016
...,...,...,...,...,...,...,...
8923,1900-12-31 20:00:00,0.0,0.0,386.433466,0,0.0,386.433466
8924,1900-12-31 21:00:00,0.0,5933.69414,0.0,0,0.0,5933.69414
8925,1900-12-31 22:00:00,0.0,5933.710255,0.0,0,0.0,5933.710255
8926,1900-12-31 23:00:00,0.0,5945.647914,0.0,0,0.0,5945.647914
8927,Total,29664304.82403,21836280.508414,8435438.188966,0.0,70522.611814,60006546.133224

Таблица по категориям

                 Datetime       Heating       Cooling         Total
0     1900-01-01 00:00:00  5.954289e+03  0.000000e+00  5.954289e+03
1     1900-01-01 01:00:00  5.719424e+03  0.000000e+00  5.719424e+03
2     1900-01-01 02:00:00  5.974963e+03  0.000000e+00  5.974963e+03
3     1900-01-01 03:00:00  5.998918e+03  0.000000e+00  5.998918e+03
4     1900-01-01 04:00:00  6.027906e+03  0.000000e+00  6.027906e+03
...                   ...           ...           ...           ...
8923  1900-12-31 20:00:00  0.000000e+00  3.864335e+02  3.864335e+02
8924  1900-12-31 21:00:00  5.933694e+03  0.000000e+00  5.933694e+03
8925  1900-12-31 22:00:00  5.933710e+03  0.000000e+00  5.933710e+03
8926  1900-12-31 23:00:00  5.945648e+03  0.000000e+00  5.945648e+03
8927                Total  5.150059e+07  8.505961e+06  6.000655e+07

[8928 rows x 4 columns]

Таблица по категориям по месяцам

               Datetime          Heating         Cooling            Total
0   1900-01-31 00:00:00   5993643.232099   116790.831567   6110434.063666
1   1900-02-28 00:00:00     4911537.4338     92490.65221   5004028.086009
2   1900-03-31 00:00:00   4957777.987369   262652.238335   5220430.225704
3   1900-04-30 00:00:00   4413850.561345    382452.75309   4796303.314435
4   1900-05-31 00:00:00   3815509.363942   960697.596619   4776206.960561
5   1900-06-30 00:00:00   2943714.824303  1674702.891353   4618417.715656
6   1900-07-31 00:00:00   3071186.788217  2000028.924382   5071215.712599
7   1900-08-31 00:00:00   3240933.200687  1557628.734494   4798561.935181
8   1900-09-30 00:00:00   3573872.189336   728189.660749   4302061.850086
9   1900-10-31 00:00:00    4170248.16588   429278.746549   4599526.912429
10  1900-11-30 00:00:00   5028338.867092   179186.426864   5207525.293956
11  1900-12-31 00:00:00   5379972.718373   121861.344567    5501834.06294
12                Total  51500585.332444   8505960.80078  60006546.133224